
<div class="row">
    <div class="left col-6">
        <ul id="shopping-cart-list">
           
        </ul>
    </div>
    <div class="col-6 position-relative">
        <div class="checkout-total-card sticky-top">
            <div class="checkout-subtotal d-flex justify-content-between align-items-center">
                <span class="fw-bold fs-6">Subtotal:</span>
                <span class="checkout-subtotal-price">$0</span>
            </div>
            <div class="checkout-shipping d-flex justify-content-between align-items-center">
                <span class="fw-bold fs-6">Shipping:</span>
                <span class="checkout-shipping-price">Free</span>
            </div>
            <div class="checkout-tax d-flex justify-content-between align-items-center">
                <span class="fw-bold fs-6">Tax:</span>
                <span class="checkout-tax-price">$0</span>
            </div>
            <hr />
            <div class="checkout-total d-flex justify-content-between align-items-center">
                <span class="fw-bold fs-6">Total:</span>
                <span class="checkout-total-price">$0</span>
            </div>
            <button type="button" class="btn btn-primary mb-3" id="checkout-btn">Checkout</button>
        </div>

    </div>

</div>