@model RegistrationModel
<div class="row col-xl-6">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post">
        <h4>
            Register an account
        </h4>
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Name">
            <label asp-for="Name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Email" >
            <label asp-for="Email">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" asp-for="Password" >
            <label asp-for="Password">Password</label>
        </div>

        <div class="col-auto mb-3">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>



    </form>
</div>