<div class="offcanvas offcanvas-start" tabindex="-1" id="shopping-cart-offcanvas" aria-labelledby="#shopping-cart">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="shopping-cart">Shopping cart  <i class="bi bi-cart4 ms-auto"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="" id="shopping-cart-list">
           @*  <li class="list-group-item">
                <div class="product-cart-card">
                    <img src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" />
                    <div class="product-info d-flex flex-column">
                        <a href="#" class="product-name">
                            Mens Casual Premium Slim Fit T-Shirts
                        </a>
                        <div class="product-price-info">
                            <span class="price-title">Price:</span>
                            <span class="product-price">
                                $22.3
                            </span>
                        </div>
                        <div class="product-quantity-actions">
                            <span class="quantity-title">Quantity:</span>
                            <i class="bi bi-dash-circle"></i>
                            <span class="product-quantity">1</span>
                            <i class="bi bi-plus-circle"></i>
                        </div>
                    </div>


                </div>
            </li> *@
        </ul>
    </div>
    <a role="button" class="btn btn-primary mb-3" id="checkout-btn" asp-action="checkoutorder" asp-controller="order">Proceed to Checkout</a>
</div>