<div class="offcanvas offcanvas-start" tabindex="-1" id="shopping-cart-offcanvas" aria-labelledby="#shopping-cart">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="shopping-cart">Shopping cart  <i class="bi bi-cart4 ms-auto"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        

    </div>
</div>